HELP.md
objetivo /

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target
!**/src/test/**/target

# ## STS ###
.apt_generated
.classpath
.factorypath
.proyecto
.ajustes
.springBeans
.sts4-caché

# ## IntelliJ IDEA ###

.idea
*.iws
*.iml
*.ipr

# ## NetBeans ###
/nbproject/private /
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build
!**/src/test/**/build

# ## VS Código ###
.vscode /